<div class="fixed items-center
            justify-center w-full h-full
            bg-[url('assets/images/background.jpg')]
             bg-cover bg-center dark:bg-dark">
    <div class ="items-center" *transloco="let t">
                <div class="relative flex flex-0 
                            items-center w-full
                            h-16 px-3 md:px-6 z-49
                            bg-card dark:bg-black 
                            print:hidden">
                <img
                    class="w-36"
                    src="assets/images/logo/energie.png"
                    alt="Logo image">
                    
                    <div class="flex items-center
                    pl-2 ml-auto space-x-0.5 
                    sm:space-x-2">
        <a
            class="w-28"
            mat-flat-button
            [color]="'primary'"
            [routerLink]="'/sign-in'">
            <span class="ml-2 uppercase">{{ t('Sign in') }}</span>
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_outline:login'">
            </mat-icon>
        </a>
    </div>
    </div>
    <div class="p-10 text-6xl sm:p-40 sm:-ml-20 md:p-50 md:text-7xl text-white font-extrabold">
        Kami Hadir Untuk Negeri<br>
       <span class="text-4xl sm:text-5xl text-white font-semibold">Merajut Harapan Hari Esok Berkelanjutan</span> 
    </div>
</div>